* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;

}

h2 {
	font-size: 2rem;
}

.icon {
	width: clamp(25px, 2.3vw, 40px);
}

body {
	background-color: #f3f3f3;
}

.container {
	margin-inline: auto;
	max-width: calc(1220px + 15px * 2);
	padding-inline: 15px;
	width: 100%;
}

.header {
	width: 100%;
	background-color: #2b2b2b;
	padding: 24px 0 24px;
	top: 0;
}

.header__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__logo--size {
	padding-top: 8px;
	width: 240px;
}

.search-box {
	background: #373636;
	height: 40px;
	border-radius: 8px;
	display: flex;
	align-items: center;
}

.search-btn {
	width: 50px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-btn__icon {
	width: 30px;
	
}

.search__text {
	border: none;
	background: none;
	color: #B1B1B1;
	font-size: 24px;
	text-align: center;
	width: 150px;
}

.header-menu__list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	list-style: none;
}

/* MAIN START */

.main-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1720px;
	background-color: #D9D9D9;
	margin-inline: 3vw;
	margin-top: 40px;
	border-radius: 10px;
	padding: 40px 20px 20px;
	gap: 20px;
}

.main-title__button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 60px;
}

.button {
	display: flex;
	align-items: center;
	background-color: #373636;
	color:#f3f3f3;
	height: 44px;
	padding: 20px;
	border-radius: 15px;
}

.button:hover {
	background-color: #bbb502;
	color: #373636;
	transition: .2s;
}

.icon__arrow--size {
	width: 30px;
	margin-right: 10px;
}

.icon--hover:hover {
	/* background-color: #373636; */
}



.icon__buld--size {
	width: 20px;
	margin-right: 10px;
}

/* MAIN END*/

