* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #f3f3f3;
}

h1 {
	font-size: clamp(4px, 2rem, 100px);

}

.icon {
	width: clamp(25px, 2.3vw, 40px);
}

body {
	background-color: #f3f3f3;
}

.container {
	margin-inline: 3vw;
}

.header {
	width: 100%;
	background-color: #2b2b2b;
	padding: 24px 0 24px;
	top: 0;
}

.header__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__logo:hover svg path {
	fill: #bbb502;
}

.header__logo--size {
	padding-top: 8px;
	width: 260px;
	width: 19vw;
}

.search-box {
	background: #373636;
	height: 40px;
	border-radius: 8px;
	display: flex;
	align-items: center;
}

.search-btn {
	width: 50px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-btn:hover svg path {
	fill: #bbb502;
}

.search-btn__icon {
	width: 30px;
}

.search__text {
	border: none;
	background: none;
	color: #B1B1B1;
	font-size: 24px;
	text-align: center;
	width: 150px;
}

.menu__list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	list-style: none;
}

.menu__item:hover svg path {
	fill: #bbb502;
}


/* MAIN START */

.main-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1720px;
	background-color: #D9D9D9;
	margin-inline: 3vw;
	margin-top: 40px;
	border-radius: 10px;
	padding: 40px 20px 20px;
	gap: 20px;
}

.main-title__button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 60px;
}

.button {
	display: flex;
	align-items: center;
	background-color: #373636;
	color:#f3f3f3;
	height: 44px;
	padding: 20px;
	border-radius: 15px;
}

.button:hover {
	background-color: #bbb502;
	color: #373636;
	transition: .2s;
}

.button:hover svg path {
	fill: #2b2b2b;
	transition: .2s;
}

.icon__arrow--size {
	width: 30px;
	margin-right: 10px;
}

.icon__buld--size {
	width: 20px;
	margin-right: 10px;
}

.main__grid {
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(4, 1fr);
	gap: 25px 20px;
	margin-top: 50px;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #B1B1B1;
	border-radius: 15px;
}

.card__title {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #373636;
	text-align: center;
	height: 55px;
	font-size: 1.5rem;
}

.card__title--top {
	border-radius: 15px 15px 0 0;
}

.card__title--bottom {
	border-radius: 0 0 15px 15px;

}

.box-circle {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
	color:#2A2A2A;
}

.circle {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: 10px solid #D9D9D9;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	font-size: 2.5rem;
}

/* MAIN END*/

/*FOOTER START*/
footer {
	background-color: #2A2A2A;
	margin-top: 50px;
}

.menu__list--flex {
	display: flex;
	justify-content: end;
	align-items: center;
	margin-right: 7vw;
}


/*FOOTER END*/
